@tailwind base;
@tailwind components;
@tailwind utilities;

/* .header-bg {
  background-color: #2a65c2;  Fondo azul oscuro 
  color: #ffffff;  Texto blanco 
} */

.body-bg {
  background-color: #ffffff; /* Fondo blanco */
  color: #000000; /* Texto negro */
}

